<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NetworkUtilityApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <NetworkUtilityApp.Properties.Settings>
            <setting name="RollingEnable" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RollingHead" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="RollingTail" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="RollingThreshold" serializeAs="String">
                <value>400</value>
            </setting>
            <setting name="PingIntervalMs" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="DiscoveryResolveDns" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DiscoveryTimeoutMs" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="DiscoveryMaxParallel" serializeAs="String">
                <value>256</value>
            </setting>
            <setting name="ShowMacInTable" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Preset1_Name" serializeAs="String">
                <value>Preset 1</value>
            </setting>
            <setting name="Preset1_Ip" serializeAs="String">
                <value />
            </setting>
            <setting name="Preset1_Subnet" serializeAs="String">
                <value />
            </setting>
            <setting name="Preset1_Gateway" serializeAs="String">
                <value />
            </setting>
            <setting name="Preset2_Name" serializeAs="String">
                <value>Preset 2</value>
            </setting>
            <setting name="Preset2_Ip" serializeAs="String">
                <value />
            </setting>
            <setting name="Preset2_Subnet" serializeAs="String">
                <value />
            </setting>
            <setting name="Preset2_Gateway" serializeAs="String">
                <value />
            </setting>
            <setting name="Preset3_Name" serializeAs="String">
                <value>Preset 3</value>
            </setting>
            <setting name="Preset3_Ip" serializeAs="String">
                <value />
            </setting>
            <setting name="Preset3_Subnet" serializeAs="String">
                <value />
            </setting>
            <setting name="Preset3_Gateway" serializeAs="String">
                <value />
            </setting>
            <setting name="Preset4_Name" serializeAs="String">
                <value>Preset 4</value>
            </setting>
            <setting name="Preset4_Ip" serializeAs="String">
                <value />
            </setting>
            <setting name="Preset4_Subnet" serializeAs="String">
                <value />
            </setting>
            <setting name="Preset4_Gateway" serializeAs="String">
                <value />
            </setting>
            <setting name="Preset5_Name" serializeAs="String">
                <value>Preset 5</value>
            </setting>
            <setting name="Preset5_Ip" serializeAs="String">
                <value />
            </setting>
            <setting name="Preset5_Subnet" serializeAs="String">
                <value />
            </setting>
            <setting name="Preset5_Gateway" serializeAs="String">
                <value />
            </setting>
            <setting name="DarkMode" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="setting" serializeAs="String">
                <value />
            </setting>
            <setting name="LastTabKey" serializeAs="String">
                <value />
            </setting>
        </NetworkUtilityApp.Properties.Settings>
    </userSettings>
</configuration>